<div class="container text-center my-5">
  <h1 class="display-6 font-weight-bold text-uppercase title-shadow">Lista de participantes</h1>
  <div class="py-4">
    <hr class="w-60" />

    <div >
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">A침os de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr>
            
            <th scope="row">{{@index}}</th>
            <td><div></div></td>
            <td>{{nombre}}</td>
            <td>{{anos_experiencia}}</td>
            <td>{{especialidad}}</td>
            <td class="{{#if estado}}text-success{{else}}text-warning{{/if}} font-weight-bold">
        {{#if estado}}
          Aprobado
        {{else}}
          En revisi칩n
        {{/if}}
      </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/login">Iniciar Sesi칩n</a> |
      <a href="/register">Registrarme</a> <br>
      <a href="/admin" class="text-danger">Administraci칩n</a>
    </div>
  </div>
</div>
